.search-bar {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.search-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-bar select,
.search-bar input {
    width: 100%;
    padding: 10px 0px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.or-text {
    text-align: center;
    font-weight: 600;
    color: #666;
}

.search-btn {
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #ff4757;
    color: white;
}


/* Desktop / Tablet Layout   */
@media (min-width: 768px) {
    .search-bar {
        flex-direction: row;
        align-items: center;
    }

    .search-fields {
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

    .search-bar select,
    .search-bar input {
        flex: 1;
    }

    .or-text {
        margin: 0 8px;
        white-space: nowrap;
    }

    .search-btn {
        width: 140px;
    }
}

