body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
}

.app {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
}

/* Light Theme */
:root {
  --bg-color: #c8d1da;
  --text-color: #394c78;
  --card-bg: #3d80ba;
  --nav-bg: #e2e8f0;
  --accent: #2563eb;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #17223cf7;
  --text-color: #f4f8fc;
  --card-bg: #3f75c3;
  --nav-bg: #353e51;
  --accent: #38bdf8;
}


h1 {
  margin-top: 30px;
  color: #38bdf8;
}

select {
  padding: 10px;
  border-radius: 6px;
}

h1 {
  margin-bottom: 20px;
}

h2 span {
  color: #38bdf8;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.search-bar button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.loading {
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #020617;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
  /*color: var(--text-color);*/
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}


/* Hero Section */
.hero {
  margin: 60px auto;
  max-width: 800px;
  text-align: center;
  padding: 30px;
  background: linear-gradient(135deg, #1e293b, #444859);
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  /*color: var(--text-color);*/
}

.hero-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  /* vertical */
  justify-content: center;
  /* horizontal */
}

.hero h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #facc15;
}

.hero p {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
}

.hero .highlight {
  margin-top: 15px;
  color: #38bdf8;
  font-weight: bold;
}

/* Loading */
.loading {
  margin-top: 40px;
  font-size: 18px;
  color: #94a3b8;
}

/* Result title */
.result-title {
  margin-top: 20px;
}

.result-title span {
  color: #facc15;
}

/* Footer */
.footer {
  margin-top: 70px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: #04091e;
  border-top: 1px solid #1e293b;
  font-size: 14px;
  color: #94a3b8;
}

.footer p {
  margin: 4px 0;
}


/* Make it device friendly */
.search-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-box input,
.search-box button {
  flex: 1;
  min-width: 140px;
  padding: 12px;
  font-size: 1rem;
}